*{
	margin: 0;
	padding: 0;
}
.banner{
	position: relative;
	overflow: hidden;
}
.banner-view{
	position: relative;
	height: 100%;
	z-index: 999;
	background-color: #090b22;
	background-repeat: no-repeat;
}
.banner-view i{
	position: relative;
	display: block;
	float: left;
	background-repeat: no-repeat;
}
.banner-btn{
	position: absolute;
	width: 100%;
	height: 0;
	top: 45%;
	font-family: "宋体";
	font-size: 20px;
	z-index: 1000;
}
.banner-btn span{
	display: block;
	float: left;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	color: #74dcff;
	cursor: pointer;
	font-weight: 800;
	background-image: 
}
.banner-btn span:hover{
	background-color: rgba(0,0,0,0.6);
}
.banner-btn span + span{
	float: right;
}
.banner-number{
	position: absolute;
	bottom: 35px;
	width: 100%;
	height: 0;
	font-size: 0;
	text-align: center;
	z-index: 1000;
}
.banner-number > *{
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 8px;
	width: 10px;
	height: 10px;
	background-color: #00c3ff;
	cursor: pointer;
}
.banner-number  > *:hover,
.banner-number  > *.on{
	background-color: #ffc300;
}
.banner-progres{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 3px;
	z-index: 1000;
}
.banner-progres i{
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 3px;
	display: block;
	height: 100%;
	width: 0;
}



#allnotice {
	background-color: #F5F5F5;
	height: 700px;
	width: 1920px;
	position: relative;
	top: -110px;
	overflow: hidden;
	background-image: url(../images/images/images/back_04.png);
}

.center1 {
	position: absolute;
	left: 350px;
}
.center2 {
	position: relative;
	top: 70px;
}
#zhaosheng {
	height: 350px;
	width: 1920px;
	overflow:hidden;
}
#zonghexinwen {
	height: 600px;
	width: 1920px;
	overflow:hidden;
}
#jiaodian {
	height: 800px;
	width: 1920px;

}
#shejiaomeiti {
	height: 500px;
	width: 1920px;
}
#video {
	width: 1920px;
	height: 500px;
	background-color: #F2F2F2;
	background-image: url(../images/images/images/back_04_04.png);
	padding-top:30px;
}


#jdbackgroung{
	background-color: #CCC;
	height: 600px;
	width:1220px;

}
#picture1{

position:relative;
top:10px;
left:10px;
float:left;}
#picture2 {

position:relative;
top:300px;
left:-800px;
float:left;
}
#picture3 {

position:relative;
top:20px;
left:320px;
float:left;

}
#picture4 {

position:relative; 
top:-270px;
left:330px;
width:380;
height:570;
float:left;


}
#footer {
	background-color: #245086;
	padding: 10px;
	width: 1920px;
	height:40px;
}
